# ملفات البيئة الافتراضية
venv/
/venv/
env/
/env/

# ملفات بايثون المؤقتة
*.pyc
__pycache__/

# ملف قاعدة بيانات التطوير
*.sqlite3
db.sqlite3


.env

# ملفات الوسائط   
/media/

# ملفات السجلات (Logs)
*.log
logs/

# ملفات نظام التشغيل
.DS_Store
Thumbs.db
